# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# env (ignora todos los .env, pero mantiene .env.example en el repo)
.env*
!.env.example

# prisma
/prisma/*.db
/prisma/migrations/dev.db*

# misc
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
*.tsbuildinfo
